  <footer class="site-footer">
    <div class="container footer-inner">
      <a href="../index.html"><img class="logo" src="../assets/logos/circle.svg" alt="Circle"></a>
      <nav>
        <a href="#">Team</a>
        <a href="#services">Services</a>
        <a href="#">About Us</a>
        <a href="#">Press</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Privacy Policy</a>
      </nav>
      <p>2972 Westheimer Rd. Santa Ana,<br>Illinois 85486</p>
    </div>
  </footer>